nav{
    /* display: flex;
    justify-content: space-evenly; */
    background-color: #dddddd;
    /* background-color: white; */
}

ul{
    list-style: none;
}

li{
    display: block;
    margin: 0;
    padding: 10px;
    float: left;
}

.fa-plus{
	display: inline;
	position: relative;
    color: #42b6f5;
    padding: 0 0 0 0;
}

button{
	border: none;
    background-color: #dddddd
    /* background-color: white; */
}