nav{
    /* display: flex;
    justify-content: space-evenly; */
    background-color: #dddddd;
}

ul{
    list-style: none;
}

li{
    display: block;
    margin: 0;
    padding: 10px;
    float: left;
}