nav{
    /* display: flex;
    justify-content: space-evenly; */
    background-color: white;
    /* background-color: white; */
    position: fixed;
    padding: 0;
    margin: 0;
    height:11vh;
    /*z-index: -99;*/
}

.homeLogo {
    float: left;
}

.navbarList {
    float: right;
    list-style: none;
    margin-left: auto;
}

li{
    display: flex;
    margin: 0;
    padding: 10px;
    margin-left: auto;
}

.fa-plus{
	display: flex;
	position: relative;
    color: black;
    margin:4px;
}

.logo{
    width: 3vw;
    height: 5vh;
    margin: auto;
    background-color: white;
}

.nav-item:active{
    padding-right: 0px;
    margin: 0;
    color: black !important ;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: center; */
}

.nav-item:hover{
    /*padding-right: 0px;*/
    /*margin: 0;*/    
    /*border:1px solid black;*/
    /*border-s*/
    border-radius: 100px;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: center; */
}

.welcome-user{
   display: flex;

}